[import]
home=/home/dwb/cwinux/cwx-mq/trunk/mq/test_import/bin
listen=192.168.1.6:9901
unix=/usr/home/wenbo/cwinux-mq/mq/trunk/mq/async.sock
user=recv
passwd=recv_passwd
conn_type=tcp
conn_num=100
conn_lasting=1
data_group=10
data_size=1024
