[cmn]
home=/usr/home/wenbo/jpool/src/mq/trunk/mq/mq
server_type=master
sock_buf_kbyte=8192
max_chunk_kbyte=256
window=64
monitor=172.16.42.65:9900

[binlog]
path=/data2/mq_data/data/binlog
file_prefix=binlog
file_max_mbyte=1024
max_file_num=24
del_out_file=yes
cache=no
flush_log_num=1000
flush_log_second=1

[dispatch]
user=async
passwd=async_passwd
listen=*:9903
unix=/usr/home/wenbo/jpool/src/mq/trunk/mq/mq/dispatch.sock

[recv]
user=recv
passwd=recv_passwd
listen=*:9901
unix=/usr/home/wenbo/jpool/src/mq/trunk/mq/mq/recv.sock

[master]
user=async
passwd=async_passwd
listen=172.16.42.65:9903
unix=/usr/home/wenbo/jpool/src/mq/trunk/mq/mq/dispatch.sock
subscribe=*
zip=yes
sign=crc32

[mq]
listen=*:9902
user=mq_admin
passwd=mq_admin_passwd
unix=/usr/home/wenbo/jpool/src/mq/trunk/mq/mq/mq.sock
log_path=/data2/mq_data/data/binlog/
log_flush_num=1
log_flush_second =10
