[cmn]
home=/usr/home/wenbo/cwinux-mq/mq/trunk/mproxy
monitor=172.16.42.65:9900
timeout=5000

[recv]
listen=172.16.42.65:9600
user=recv
passwd=recv_passwd
unix=/usr/home/wenbo/cwinux-mq/mq/trunk/mproxy/recv.unix

[passwd]
pwd1=recv1:recv1_passwd:1,2,30-40
pwd2=recv1:recv1_passwd:10
pwd3=recv2:recv1_passwd:20

[allow]
aaa=1-30000
[deny]
aa=3,8,5
bb=100,200,22
[mq]
listen=172.16.42.65:9901
user=recv
passwd=recv_passwd
sign=
zip=no
